{erl_opts, [ warnings_as_errors ]}.

{relx,[
  {release, { ecall , "0.0.1"},[
    kernel,
    stdlib,
    sasl,
    ecall
  ]},
  {include_erts, false},
  {vm_args, "./config/vm.args"},
  {sys_config, "./config/sys.config"},
  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx, [
      {erl_opts, [no_debug_info, warnings_as_errors ]},
      {dev_mode, false},
      {include_src, false},
      {include_erts, true },
      {overlay,[
        {copy, "config/apps/", "releases/\{\{release_version\}\}/apps"}
      ]}
    ]}
  ]}
]}.
