{erl_opts, [  ]}.

{relx,[
  {release, { ecall , "0.0.1"},[
    kernel,
    stdlib,
    sasl,
    ecall
  ]},
  {include_erts, false},
  {vm_args, "./config/vm.args"},
  {sys_config, "./config/sys.config"},
  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx, [
      {erl_opts, [no_debug_info, warnings_as_errors ]},
      {dev_mode, false},
      {include_src, false},
      {include_erts, true },
      {overlay,[
        {copy, "config/apps/", "releases/\{\{release_version\}\}/apps"}
      ]}
    ]}
  ]},
  {test, [
    {erl_opts, [{export_all}]},
    {deps, [
%%      {meck, "", {git, "https://github.com/eproxus/meck.git", {branch, master}}},
%%      {ctdh, "", {git, "https://github.com/egobrain/ctdh.git", {branch, master}}}
    ]}
  ]}
]}.
