{erl_opts, [ {parse_transform, lager_transform}, warnings_as_errors ]}.

{deps, [
  {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.8.0"}}} % TODO
]}.

{relx,[
  {release, { ecall , "0.0.1"},[
    kernel,
    stdlib,
    sasl,
    lager,
    ecall
  ]},
  {include_erts, false},
  {vm_args, "./config/vm.args"},
  {sys_config, "./config/sys.config"},
  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors, {parse_transform, lager_transform} ]},
    {relx, [
      {dev_mode, false},
      {include_src, false},
      {include_erts, true }
    ]}
  ]}
]}.
