{role_config, #{
  sender => local,
  receiver => #{host => "host", user => "user", password => "password"}
}}.

{performance, #{
  warmup_ms => 5000,
  measurement_ms => 30000,
  drain_ms => 10000,
  report_repetitions => 3,
  smoke_repetitions => 1,
  common_client_counts => [1, 1000, 10000, 100000, 500000, 1000000]
}}.
