{role_config, #{
  sender => #{
    host => "rt-server1.fp",
    node => "sender@rt-server1.fp",
    user => "romanvozfp",
    password => "FpFp123!"
  },
  receiver => #{
    host => "rt-server2.fp",
    node => "receiver@rt-server2.fp",
    user => "romanvozfp",
    password => "FpFp123!"
  }
}}.

% {role_config, #{
%   sender => local,
%   receiver => local
% }}.


{performance, #{
  pace_ms => 100,
  messages_per_writer => 1000,
  writer_counts => [
    10000
    ,20000
    ,30000
    ,40000
    ,50000
    ,60000
    ,70000
    ,80000
    ,90000
    ,100000
    ,110000
    ,120000
    % ,130000
    % ,140000
    % ,150000
  ],
  payloads => [data]
}}.

{env_settings, #{
  ecall_batch_size => 10000,
  distribution_busy_limit_kib => 1024
}}.
